.contacts {
  display: flex;
  flex-direction: column;
  gap: var(--space-m);
}

.contacts__heading {
  font-size: var(--step-2);
  line-height: 1;
  margin-block: 0;
}

.contacts__list {
  display: flex;
  flex-direction: column;
  line-height: 1.5;
  list-style: none;
  margin-block: 0;
  padding-inline-start: 0;
}

.contacts__label {
  font-weight: 700;
  line-height: 1;
  margin-block-end: var(--space-3xs);
}

.contacts__item {
  margin: 0;
}

.contacts__label,
.contacts__item {
  font-size: var(--step-0);
}

.contacts__label + .contacts__item:not(:last-of-type) {
  margin-block-end: 1rem;
}

.contacts__link {
  color: #0000F0;
  line-height: 1.5;
  padding-block: var(--space-3xs);
  text-decoration: none;
  transition: color ease 200ms;
}

.contacts__link:hover {
  color: #3C0078;
}
