.copyright {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 1rem;
  padding-block: 4rem;
}

.copyright__item {
  margin-block: 0;
}

.copyright__item--love {
  color: #FF2DB4;
}

.copyright__item--love:hover {
  animation-name: heartbeat;
  animation-duration: 1500ms;
  animation-timing-function: ease-in-out;
}

@media screen and (min-width: 480px) {
  .copyright__item {
    font-size: 1.25rem;
  }
}

@media screen and (min-width: 768px) {
  .copyright__item {
    font-size: 1.75rem;
  }

  .copyright__item--love {
    font-size: 1.25rem;
  }
}

@keyframes heartbeat {
  0% {
    transform: scale(1);
  }

  14% {
    transform: scale(1.2);
  }

  28% {
    transform: scale(1);
  }

  42% {
    transform: scale(1.2);
  }

  70% {
    transform: scale(1);
  }
}
