.language-switcher {
  display: flex;
  flex-direction: column;
}

.language-switcher__language {
  border-radius: 0.25rem;
  font-size: var(--step-5);
  line-height: 1;
  padding: var(--space-2xs);
  text-decoration: none;
  transition: background-color ease 200ms;
}

.language-switcher__language:hover {
  background-color: #E6E7E8;
}

@media screen and (min-width: 448px) {
  .header__language-switcher {
    flex-direction: row;
    gap: var(--space-xs);
  }
}
