.main {
  display: flex;
  flex-flow: column;
  gap: 2rem;
}

@media screen and (min-width: 480px) {
  .main {
    gap: 3rem;
  }
}

@media screen and (min-width: 768px) {
  .main {
    display: grid;
    grid-template: "skills familiar-with" auto
                   "skills languages" 1fr;
    gap: 4rem 3rem;
  }
}

@media screen and (min-width: 1200px) {
  .main {
    gap: 4rem 7rem;
  }
}
