.main {
  display: flex;
  flex-flow: column;
  gap: var(--space-2xl);
}

@media screen and (min-width: 736px) {
  .main {
    display: grid;
    column-gap: 64px;
    grid-template: "skills familiar-with" auto
                   "skills languages" 1fr / 1fr 1fr;
  }
}

@media screen and (min-width: 1008px) {
  .main {
    column-gap: 96px;
  }
}

@media screen and (min-width: 1200px) {
  .main {
    column-gap: 112px;
  }
}
