.main {
  display: flex;
  flex-flow: column;
  gap: var(--space-3xl);
}

@media screen and (min-width: 736px) {
  .main {
    display: grid;
    gap: var(--space-3xl) 7rem;
    grid-template: "skills familiar-with" auto
                   "skills languages" 1fr;
  }
}
