:root {
  --space-4xs: clamp(0.25rem, 0.21rem + 0.22vw, 0.38rem);
  --space-3xs: clamp(0.38rem, 0.31rem + 0.33vw, 0.56rem);
  --space-2xs: clamp(0.50rem, 0.42rem + 0.45vw, 0.75rem);
  --space-xs: clamp(0.75rem, 0.62rem + 0.67vw, 1.13rem);
  --space-s: clamp(1.00rem, 0.83rem + 0.89vw, 1.50rem);
  --space-m: clamp(1.25rem, 1.04rem + 1.12vw, 1.88rem);
  --space-l: clamp(1.50rem, 1.25rem + 1.34vw, 2.25rem);
  --space-xl: clamp(1.75rem, 1.45rem + 1.56vw, 2.63rem);
  --space-2xl: clamp(2.00rem, 1.66rem + 1.79vw, 3.00rem);
  --space-3xl: clamp(2.25rem, 1.87rem + 2.01vw, 3.38rem);
  --space-4xl: clamp(2.50rem, 2.08rem + 2.23vw, 3.75rem);
  --space-5xl: clamp(2.75rem, 2.28rem + 2.46vw, 4.13rem);
  --space-6xl: clamp(3.00rem, 2.49rem + 2.68vw, 4.50rem);
  --space-2xl-5xl: clamp(2.00rem, 1.28rem + 3.79vw, 4.13rem);

  --step--2: clamp(1.04rem, 0.58rem + 0.62vw, 0.69rem);
  --step--1: clamp(1.25rem, 0.69rem + 0.74vw, 0.83rem);
  --step-0: clamp(1.00rem, 0.83rem + 0.89vw, 1.50rem);
  --step-1: clamp(1.20rem, 1.00rem + 1.07vw, 1.80rem);
  --step-2: clamp(1.44rem, 1.20rem + 1.29vw, 2.16rem);
  --step-3: clamp(1.73rem, 1.44rem + 1.54vw, 2.59rem);
  --step-4: clamp(2.07rem, 1.72rem + 1.85vw, 3.11rem);
  --step-5: clamp(2.49rem, 2.07rem + 2.22vw, 3.73rem);
}

.page,
.page__body {
  color: #323334;
  height: 100%;
}

.page {
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;
}

.page__body {
  margin: 0 auto;
  max-width: 1200px;
  padding-inline: 1rem;
}

.page__body ::selection {
  background: #0000F0;
  color: #FFFFFF;
}

@media screen and (min-width: 736px) {
  .page__body {
    padding-inline: 1.5rem;
  }
}

@media screen and (min-width: 1008px) {
  .page__body {
    padding-inline: 2rem;
  }
}
