.page,
.page__body {
  color: #323334;
  height: 100%;
}

.page {
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;
}

.page__body {
  max-width: 75rem;
  padding-inline: 1.5rem;
  margin: 0 auto;
}
