---
---

<html lang="en-UK">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Dair Aidarkhanov's personal website</title>

    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="preconnect" href="https://rsms.me/" />
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css" />
  </head>

  <body>

    <section class="p-3 mx-auto my-8 md:max-w-xl md:my-20 md:p-0">
      <h1 class="text-2xl font-bold">Dair Aidarkhanov</h1>
      <small class="text-base text-gray-600">Web Developer</small>

      <p class="text-lg mbs-3 text-balance">
        I am good at creating websites. Making them <i>fast</i>, <i>pleasant</i>
        to use, and <i>accessible</i> for people with visual impairing or motor
        deficiency. I am not afraid to say no to the vogue shiny technology but
        keep my mind open.
      </p>
    </section>

  </body>
</html>
